/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* $pruple: rgb(26, 0, 63);
 $trans-pruple: rgba(26, 0, 63, 0.9);
 $button-color: rgb(0, 195, 255); */


 body, html {
   /* height: 100%; */
   padding: 0;
   margin: 0;
   /* position: relative; */
   z-index: 1;
   background-color: rgb(30, 0, 60);
   font-family: Arial, Helvetica, sans-serif;
   /* overflow-y: hidden; */
   overflow-x: hidden;
 }

.modal-child {
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* .app-main {
  display: flex;
} */

img{
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

#invisible{
  opacity: 0;
}

#visible{
  opacity: 1;
}