.choose-a-form-background {
    // display: grid;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // grid-template-columns: 1fr 625px  1fr;
    // grid-template-rows: 100px 120px 1fr;
    background-color: rgba(26, 0, 63, 0.9);
    z-index: 15;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-a-form-background-transition {
    // display: grid;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    // grid-template-columns: 1fr 625px  1fr;
    // grid-template-rows: 100px 120px 1fr;
    background-color: rgba(26, 0, 63, 0.9);
    z-index: 15;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-a-form-container{ 
    display: flex;
    width: 100vh;
    justify-content: center;
    margin: 0 auto;
}

.choose-a-form-box{
    // background-color: red;
    // border-radius: 100%;
    margin: 25px;
    height: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    button{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: none;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 48px;
        outline: none;
    }
    span{
        font-size: 18px;
        color: white;
    }
}
// .choose-a-form-box:focus{
//     outline: none;
//     button{
//         outline: none;
//     }
// }
@keyframes disappear{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
@keyframes cute-pop{
    from{
        margin-top: 50px;
        height: 50px;
        opacity: 0;
    }
    to{
        margin-top: 0px;
        height: 100px;
        opacity: 1;
    }
}

.text-button{
    background-color: red;
    // animation: disappear;
    animation: cute-pop 0.5s -0.4s ease-in;
}
.photo-button{
    background-color: orange;
    // animation: disappear;
    animation: cute-pop 0.5s -0.3s ease-in;
}
.quote-button{
    background-color: greenyellow;
    // animation: disappear;
    animation: cute-pop 0.5s -0.2s ease-in;
}
.audio-button{
    background-color: blue;
    // animation: disappear;
    animation: cute-pop 0.5s -0.1s ease-in;
}

.video-button{
    background-color: pink;
    // animation: disappear;
    animation: cute-pop 0.5s ease-in;
}


.pop-out-picture-background{
    // display: grid;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // grid-template-columns: 1fr 625px  1fr;
    // grid-template-rows: 100px 120px 1fr;
    background-color: rgba(26, 0, 63, 0.9);
    z-index: 15;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pop-out-picture-container{ 
    display: flex;
    max-width: 80vh;
    max-height: 80vh;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    animation: into-existence 0.35s ease;
}

@keyframes into-existence{
    from{
        width: 10vh;
    }
    to{
        width: 80vh;
    }
}



.text-button-animated, .animated-text-flying{
    background-color: red;
    animation: zip-up  1s  ease;
}
.photo-button-animated, .animated-text-flying{
    background-color: orange;
    animation: zip-up 1s -0.1s ease;
}
.quote-button-animated, .animated-text-flying{
    background-color: greenyellow;
    animation: zip-up 1s -0.2s ease;
}
.audio-button-animated, .animated-text-flying{
    background-color: blue;
    animation: zip-up 1s -0.1s ease;
}
 
.video-button-animated, .animated-text-flying{
    background-color: pink;
    animation: zip-up 1s ease;
}



@keyframes zip-up {
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-750%);
        opacity: 0;
    }
}