.post-form-bar-container {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
	// z-index: 1;
	// margin-top: 55px;
	// margin-bottom: 10px;
}
.post-form-container-from-bar{
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.post-avatar {
    // grid-column: 1, 2;
    height: 64px;
    width: 64px;
		background-color: rgb(0, 195, 255);
		display: flex;
		margin-bottom: 56px;
		overflow: hidden;
		border-radius: 3px;
		// margin-right: 5px;
}

.post-form-bar {
	display: grid;
	grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr;
	background-color: white;
	border-radius: 3px;
	height: 100px;
	margin-bottom: 20px;
}

#post-form-button{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	button{
		border: transparent;
		background-color: white;
		width: 100%;
		height: auto;
		font-size: 36px;
		font-weight: bold;
	}
	span{
		color: gray;
	}
}

.gray-gradient-border{
	background-image: linear-gradient(white, rgb(155, 155, 155), white);
	width: 1px;
}
// #post-form-button {
// 	text-align: center;
// 	height: 100%;
// 	width: 1px;
// 	background-image: linear-gradient(white, rgb(155, 155, 155), white);
// }

// .text-box, .photo-box, .quote-box, .audio-box, .video-box {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// 	align-content: center;
// 	margin-left: 16px;
// }

// .text-box span, .photo-box span, .quote-box span, .audio-box span, .video-box span {
// 	font-size: 15px;
// 	// margin-left: 16px;
// 	font-family: Arial, Helvetica, sans-serif;
// }

.text-box {
	// grid-column: 1 / 2;
	// roygbiv
	button{
		color: red;
	}
}

.photo-box {
	// grid-column: 3 / 4;
	button{
		color: orange;
	}
}

.quote-box {
	// grid-column: 5 / 6;
	button {
		color: greenyellow;
	}
}

.audio-box {
	// grid-column: 7 / 8;
	button{
		color: blue;
	}
}

.video-box {
	// grid-column: 9 / 10;
	button{
		color: pink;
	}
}

.disable-filter {
    display: grid;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // grid-template-columns: 1fr 625px 320px 1fr;
    // grid-template-rows: 100px 120px 1fr;
    background-color: rgba(26, 0, 63, 0.9);
    z-index: 15;
    overflow-y: auto;
}

.new-post-background{
	display: grid;
	grid-template-columns: 1fr 625px 320px 1fr;
	grid-template-rows: 100px 1fr 1fr;
	height: 100vh;
	width: 100%;
	overflow: scroll;
}

.bring-me-down{
	z-index: -99;
}