.post-form-bar-container {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
	// z-index: 1;
	// margin-top: 55px;
	// margin-bottom: 10px;
}

.post-avatar {
    // grid-column: 1, 2;
    height: 64px;
    width: 64px;
		background-color: rgb(115, 183, 214);
		display: flex;
		margin-bottom: 56px;
		// margin-right: 5px;
}

.post-form-bar {
	// grid-column: 2, 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: whitesmoke;
	border-radius: 3px;
	height: 100px;
	margin-bottom: 20px;
}

#post-form-button {
	text-align: center;
	height: 100%;
	width: 1px;
	background-image: linear-gradient(white, rgb(155, 155, 155), white);
}

.text-box {
	grid-row: 1, 2;
	// height: 100%;
	// width: 100%;
	// background-color: pink;
	// z-index: 10;
	display: grid;
	grid-template-rows: 1fr 1fr;
	// justify-content: center;
	// flex-direction: column;
}

.photo-box {
	grid-row: 2, 3;
}

.quote-box {
	grid-row: 3, 4;
}

.audio-box {
	grid-row: 4, 5;
}

.video-box {
	grid-row: 5, 6;
}
