.post-form-top-block {
  // padding: 5px;
  // padding-left: 10px;
  width: 520px;
  margin-top: 5px;
  margin-left: 20px;
	margin-right: 20px;
}

.formData {
	display: flex;
	flex-direction: column;
}

.image-upload-box{
  // margin-left: 20px;
  // margin-right: 20px;
  width: 540px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upload-label-box{
  border-top: 3px dashed lightgray;
  border-bottom: 3px dashed lightgray;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 540px;
  min-height: 200px;
  margin: auto;
}
.camera-icon-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  div{
    color: gray;
  }
}
.camera-icon{
  font-size: 48px;
}
#add-more-photos{
  min-height: 50px;
}
.large-hidden-upload-button, .small-hidden-upload-button{
  width: 540px;
  height: 200px;
  color: white;
  position: absolute;
}
.small-hidden-upload-button{
  height: 75px;
}
input[type=file]{
    opacity: 0;
}

.image-preview-box{
  position: relative;
}
.image-preview {
	width: 100%;
  height: auto;
}
.delete-preview{
  position: absolute;
  top: -1.5%;
  right: -2%;
  color: indianred;
  font-size: 24px;
  background-color: white;
  border-radius: 100%;
}

.post-form-bottom-block {
	display: flex;
	justify-content: space-between;
  padding: 10px;
  width: 520px;
	button {
		border: transparent;
		color: white;
		display: flex;
		justify-content: space-evenly;
    height: 28px;
    border-radius: 3px;
      div {
        width: 25px;
      }
	}
}

.post-close {
  background-color: gray;
	width: 51px;
  height: 30px;
  margin-left: 10px;
}

.post-create-post {
	background-color: rgb(0, 195, 255);
  width: 73px;
  margin-right: 10px;
}
.post-create-post:disabled{
  color: lightgray;
  font-weight: bold;
  :hover{
    cursor: not-allowed;
  }
}
// .down-post {
// }

.input-title { // title
	border: none;
  padding: 10px;
  // width: 100%;
	margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-title:focus{
  outline: none;
}

.input-body { // text
	border: none;
  resize: none;
  // width: 100%;
	// overflow: hidden;
	min-height: 50px;
	max-height: 100px;
	padding: 10px;
	margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-body:focus{
  outline: none;
}

.input-tags {
	border: none;
  padding: 10px;
  margin-left: 20px;
	margin-right: 20px;
}
.input-tags:focus{
  outline: none;
}