.post-container {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
}

.avatar {
	grid-column: 1, 2;
	height: 64px;
	width: 64px;
	background-color: #73b7d6;
	border-radius: 3px;
	// position: sticky;
}

.postbox {
	grid-column: 2, 3;
	display: grid;
	grid-template-rows: 30px 1fr;
	background-color: white;
	// padding: 10px;
	// padding-left: 20px;
	// padding-right: 20px;
	border-radius: 3px;
}

.post-top {
	margin: 0 0 0 0;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	span {
		font-size: 13px;
		color: black;
		justify-content: center;
	}
}

.title {
	font-size: 36px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.text {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.audio{
	display: flex;
	justify-content: space-evenly;
	font-size: 36px;
	font-weight: bold;
}
.image {
	width: 100%;
	height: auto;
}

.tags {
	font-size: 13px;
	padding-left: 20px;
}

.post-bottom {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-left: 20px;
	// padding-right: 20px;
}
.post-bottom-left {
	display: flex;
	// width: 50%;
	justify-content: start;
	span{
		font-size: 13px;
		color: gray;
	}
}
.post-bottom-right {
	// width: 50%;
	display: flex;
	justify-content: flex-end;
	button {
		// icons
		height: 24px;
		width: 24px;
		background: transparent;
		font-size: 18px;
		border: none;
	}
}
.post-icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.post-cog-edit-delete{
	position: relative;
}
.post-cog-edit-delete:focus{
	outline: none;
}
.post-cog-edit-delete:hover{
	cursor: pointer;
}

.post-cog-dropdown-container{
	position: absolute;
	top: 1.5rem;
	right: -3rem;
	background: white;
	border-radius: 3px;
	border: 1px solid lightgray;
	padding: 5px 0px;
	font-weight: 300;
}

.post-cog-edit-post-button,.post-cog-delete-post-button{
	width: 128px;
	height: 30px;
	display: flex;
	justify-content: start;
	padding-left: 20px;
	align-content: center;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: gray;
}
.post-cog-edit-post-button:hover,.post-cog-delete-post-button:hover {
	background-color: rgb(224, 215, 238);
}