.post-container {
	display: grid;
    grid-template-columns: 85px 540px;
    padding: 0.5rem;
}

.avatar {
    grid-column: 1, 2;
    height: 64px;
    width: 64px;
    background-color: #73b7d6;
    border-radius: 3px;
    // position: sticky;
}

.postbox {
    grid-column: 2, 3;
    display: grid;
    grid-template-rows: 30px 1fr;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
}

.title {
}

.text {
}

.content-url {
}

.tags {
}


@keyframes slide-up {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}