

.post-form-top-block {

}

.formData{
  display: flex;
  flex-direction: column;
}
.image-preview{
  width: 100%;
  height: auto;
}


.post-form-bottom-block {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  button{
    border: transparent;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    height: 28px;
    div{
      width: 25px;
    }
  }
}

.post-close{
  background-color: gray;
  width: 51px;
  height: 30px;
}

.post-create-post{
  background-color: rgb(0, 195, 255);
  width: 73px;
}
.down-post{
  
}

#input-title{ // title
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#input-body{ // text
  border: none;
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#input-tags{
  border: none;
  padding: 10px;
}


