.post-form-bar-container {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
	// z-index: 1;
	// margin-top: 55px;
	// margin-bottom: 10px;
}
.post-form-container-from-bar {
	display: grid;
	grid-template-columns: 85px 540px;
	padding: 0.5rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	z-index: 3;
}

.post-avatar {
	// grid-column: 1, 2;
	height: 64px;
	width: 64px;
	background-color: rgb(0, 195, 255);
	display: flex;
	margin-bottom: 56px;
	overflow: hidden;
	border-radius: 3px;
	// margin-right: 5px;
}

.post-form-bar {
	display: grid;
	grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr;
	background-color: white;
	border-radius: 3px;
	height: 100px;
	margin-bottom: 20px;
}

#post-form-button {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	button {
		border: transparent;
		background-color: white;
		width: 100%;
		height: auto;
		font-size: 36px;
		font-weight: bold;
	}
	span {
		color: gray;
	}
}

.gray-gradient-border {
	background-image: linear-gradient(white, rgb(155, 155, 155), white);
	width: 1px;
}
// #post-form-button {
// 	text-align: center;
// 	height: 100%;
// 	width: 1px;
// 	background-image: linear-gradient(white, rgb(155, 155, 155), white);
// }

// .text-box, .photo-box, .quote-box, .audio-box, .video-box {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: column;
// 	align-content: center;
// 	margin-left: 16px;
// }

// .text-box span, .photo-box span, .quote-box span, .audio-box span, .video-box span {
// 	font-size: 15px;
// 	// margin-left: 16px;
// 	font-family: Arial, Helvetica, sans-serif;
// }

.text-box, .photo-box, .quote-box, .audio-box, .video-box {
	button {
		transition: transform 0.2s linear;
	}
	button:hover {
		cursor: pointer;
		transform: translateY(-3px);
	}
	button:focus{
		outline: none;
	}
}

.text-box {
	button {
		color: red;
	}
}

.photo-box {
	button {
		color: orange;
	}
}

.quote-box {
	button {
		color: greenyellow;
	}
}

.audio-box {
	button {
		color: blue;
	}
}

.video-box {
	button {
		color: pink;
	}
}

element {
	transition: transform 0.5s linear;
}
element:hover {
	transform: translateY(-5px);
}

// @keyframes come-down{
// 	to{
// 		transform: translateY(-20px);
// 	}
// 	from{
// 		transform: translateY(0px);
// 	}
// }
// @keyframes go-up{
// 	to{
// 		transform: translateY(0px);
// 	}
// 	from{
// 		transform: translateY(-20px);
// 	}
// }

.disable-filter {
	display: grid;
	vertical-align: baseline;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(26, 0, 63, 0.9);
	z-index: 1;
	overflow-y: auto;
}

.new-post-background {
	display: grid;
	grid-template-columns: 1fr 625px 1fr;
	grid-template-rows: 100px 1fr 5fr;
	height: 100vh;
	width: 100%;
	overflow: scroll;
}

.edit-form-background {
	display: grid;
	// vertical-align: baseline;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	// grid-template-columns: 1fr 625px 320px 1fr;
	grid-template-columns: 1fr 625px 1fr;
	// grid-template-rows: 100px 120px 1fr;
	// grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	background-color: rgba(26, 0, 63, 0.9);
	z-index: 15;
	overflow-y: auto;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
}

	// display: grid;
	// grid-template-columns: 1fr 625px 1fr;
	// grid-template-rows: 100px 1fr 5fr;
	// height: 100vh;
	// width: 100%;
	// overflow: scroll;

.edit-form-container {
	display: grid;
	grid-template-columns: 85px 540px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 16;
	top: 20%;
	left: 20%;
}
