.splash {
	display: flex;
	background-image: url("clouds2.jpeg");
	height: 100vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	display: flex;
	align-items: center;
	// justify-content: center;
	flex-direction: column;
	margin: auto;
	transform: translate(0%, -15%);
	// opacity: 0;
	animation: opac 1.2s;
}

@keyframes opac{
	from{opacity:0} 
	to{opacity:1}
}

.logo {
	color: whitesmoke;
	font-size: 48px;
	font-weight: bold;
	margin: 0;
}

.motto {
	color: whitesmoke;
	text-align: center;
	font-size: 12px;
	// font-weight: bold;
}

.signup {
	background-color: rgb(0, 195, 255);
	color: whitesmoke;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	width: 200px;
	padding: 8px 0px;
	margin-bottom: 10px;
}

.login {
	background-color: white;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	width: 200px;
	padding: 8px 0px;
	margin-bottom: 10px;
}

.demo-user {
	background-color: rgb(0, 195, 255);
	color: whitesmoke;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	width: 200px;
	padding: 8px 0px;
}

#username {
}

#password {
	margin-bottom: 10px;
}

#email {
}

#username,#password,#email {
	width: 200px;
	border: none;
	padding: 5px;
}

#username::placeholder,#password::placeholder,#email::placeholder{
	font-size: 10px;
	color: rgb(184, 178, 178);
}

